body{
    font-size: 18px;
}

header h2{
    text-align: center;
    background-color: rgb(233, 233, 233);
    margin: 0;
    padding: 10px;
}
header nav{
    background-color: bisque;
}
header nav ul{
    text-align: center;
    padding: 10px;
}
header nav ul li{
    display: inline;
    padding: 0 10px;
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}



footer{
    background-color:rgb(233, 233, 233);
    padding: 10px;
}
